@tailwind base;
@tailwind components;
@tailwind utilities;

// Thêm hoặc ghi đè kiểu mặc định cho thẻ HTML(body, h1,...)
// Áp dụng style toàn cục
@layer base {
  body {
    @apply bg-slate-900 font-body text-white;
  }
}
// Tạo class tái sử dụng nhiều lần
// Tổ chức các khối giao diện (components): .btn, .card, .page-container,...
@layer components {
  .page-container {
    max-width: 1200px;
    @apply mx-auto;
  }
  .movie-list .swiper-slide {
    width: 300px;
    height: auto;
  }
  .banner .swiper {
    height: 100%;
  }
}

.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .selected{
    @apply text-primary;
  }
}